<article class="resume" data-page="resume">

  <header>
    <h2 class="h2 article-title">Resume</h2>
  </header>

  <section class="timeline">

    <div class="title-wrapper">
      <div class="icon-box">
        <ion-icon name="book-outline"></ion-icon>
      </div>

      <h3 class="h3">Education</h3>
    </div>

    <ol class="timeline-list">
      {% for edu in site.data.education %}
      <li class="timeline-item">

        <h4 class="h4 timeline-item-title">{{ edu.institution }}</h4>

        <span>{{ edu.period }}</span>

        <p class="timeline-text">
          {{ edu.description }}
        </p>

      </li>
      {% endfor %}
    </ol>

  </section>

  <section class="timeline">

    <div class="title-wrapper">
      <div class="icon-box">
        <ion-icon name="book-outline"></ion-icon>
      </div>

      <h3 class="h3">Experience</h3>
    </div>

    <ol class="timeline-list">
      {% for exp in site.data.experience %}
      <li class="timeline-item">

        <h4 class="h4 timeline-item-title">{{ exp.role }}</h4>

        <span>{{ exp.period }}</span>

        <p class="timeline-text">
          {{ exp.description }}
        </p>

      </li>
      {% endfor %}
    </ol>

  </section>

  <section class="timeline">

    <div class="title-wrapper">
      <div class="icon-box">
        <ion-icon name="trophy-outline"></ion-icon>
      </div>

      <h3 class="h3">Honors &amp; Awards</h3>
    </div>

    <ol class="timeline-list">
      {% for award in site.data.awards %}
      <li class="timeline-item">

        <h4 class="h4 timeline-item-title">{{ award.title }}</h4>

        <span>{{ award.issuer }} &middot; {{ award.date }}</span>

        <p class="timeline-text">
          {{ award.description }}
        </p>

      </li>
      {% endfor %}
    </ol>

  </section>

</article>
