<article class="resume" data-page="resume">

  <header>
    <h2 class="h2 article-title">Resume</h2>
  </header>

  <section class="timeline">

    <div class="title-wrapper">
      <div class="icon-box">
        <ion-icon name="school-outline"></ion-icon>
      </div>

      <h3 class="h3">Education</h3>
    </div>

    <ol class="timeline-list">
      {% for edu in site.data.education %}
      <li class="timeline-item">

        <h4 class="h4 timeline-item-title">{{ edu.institution }}</h4>

        <span>{{ edu.period }}</span>

        <p class="timeline-text">
          {{ edu.description }}
        </p>

      </li>
      {% endfor %}
    </ol>

  </section>

  <section class="timeline">

    <div class="title-wrapper">
      <div class="icon-box">
        <ion-icon name="briefcase-outline"></ion-icon>
      </div>

      <h3 class="h3">Experience</h3>
    </div>

    <ol class="timeline-list">
      {% for exp in site.data.experience %}
      <li class="timeline-item">

        <h4 class="h4 timeline-item-title">{{ exp.role }}</h4>

        <span>{{ exp.period }}</span>

        <p class="timeline-text">
          {{ exp.description }}
        </p>

      </li>
      {% endfor %}
    </ol>

  </section>

  <section class="timeline">

    <div class="title-wrapper">
      <div class="icon-box">
        <ion-icon name="trophy-outline"></ion-icon>
      </div>

      <h3 class="h3">Honor &amp; Award</h3>
    </div>

    <ol class="timeline-list">
      {% for award in site.data.awards %}
      <li class="timeline-item">

        <h4 class="h4 timeline-item-title">{{ award.title }}</h4>

        <span>{{ award.issuer }} &middot; {{ award.date }}</span>

        <p class="timeline-text">
          {{ award.description }}
        </p>

      </li>
      {% endfor %}
    </ol>

  </section>

  <section class="timeline">

    <div class="title-wrapper">
      <div class="icon-box">
        <ion-icon name="document-text-outline"></ion-icon>
      </div>

      <h3 class="h3">Publication</h3>
    </div>

    <ol class="timeline-list">
      {% for pub in site.data.publications %}
      <li class="timeline-item">

        <h4 class="h4 timeline-item-title">{{ pub.title }}</h4>

        <span>{{ pub.venue }} &middot; {{ pub.date }}</span>

        <p class="timeline-text">
          {{ pub.description }}
        </p>

      </li>
      {% endfor %}
      {% if site.data.publications == nil or site.data.publications.size == 0 %}
      <li class="timeline-item">
        <p class="timeline-text" style="color: var(--light-gray); font-style: italic;">Publications will be listed here soon.</p>
      </li>
      {% endif %}
    </ol>

  </section>

</article>
